<header class="masthead text-white">
    <div class="container h-100 d-flex">
        <div class="row justify-content-center align-self-center mx-auto">
            <div class="col-12 text-center mt-5 pt-5">
                <h1 class="font-weight-bold mt-5 pt-5">Quote Wars</h1>
                <hr class="divider my-4 bg-light">
                <p class="lead font-weight-bold">Vote for your best quote/ Add quote to be voted for.</p>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <app-quote></app-quote>
            </div>
        </div>
    </div>
</main>