<h1 class="text-dark">Add Quote</h1>
<div class="container-fluid bg-dark pt-5 pb-5">
    <form (ngSubmit)="addQuote()" #quotesForm='ngForm'>

        <div class="form-group">
            <label for="quotename">Quote:</label>
            <textarea class="form-control" id="quotename" rows="2" [(ngModel)]="newQuote.quotename" name="quotename" #quotename='ngModel' placeholder="Please write a quote here..."></textarea>
            <div [hidden]="user.valid || user.pristine" class="alert alert-danger"></div>
        </div>
        <div class="form-group">
            <label for="author">Author:</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>
            <div [hidden]="author.valid || author.pristine">
                <p>Please enter the author's name
                    <p>
            </div>
        </div>

        <div class="form-group">
            <label for="user">Your Name:</label>
            <input type="text" required class="form-control" id="user" [(ngModel)]="newQuote.user" name="user" #user='ngModel' minlength="3">
            <div [hidden]="user.valid || user.pristine" class="alert alert-danger">
                <p>Username is required</p>
                {{newQuote.user}}
            </div>
        </div>
        <button type="submit" class="btn btn-sm btn-success">Add Quote</button>
    </form>
</div>